<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Home</a>
<!-- ----------------------------- commented out- Do above -->


<!-- ----------------------------- commented out- Dont -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
    <!-- <a class="navbar-brand" href="#">Home</a> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
             
            </ul>
          </div> -->
<!-- ----------------------------- commented out- Dont -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Heart Disease Detection App</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chatbot">Chatbot</a>
      </li>
    </ul>
  </div>
</nav> -->



<!-- ----------------------------- do below -->
  </div>
</nav>
<!-- ----------------------------- commented out- Do above -->
<router-outlet></router-outlet>
<div class="container" *ngIf="outputdata==0">
<app-no-heart-disease [output]="show"></app-no-heart-disease>
</div>
<div class="container" *ngIf="outputdata==1">
<app-heart-disease-detected [output]="show"></app-heart-disease-detected>
</div>

