<section class="heart-disease-detected">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Heart Disease Detected</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="image-wrapper">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="heart image">
              </div>
            </div>
            <div class="col-md-6">
              <div class="health-tips-wrapper">
                <h2 class="subheading">Health Tips:</h2>
                <ul>
                  <li>Get regular exercise</li>
                  <li>Eat a heart-healthy diet</li>
                  <li>Quit smoking</li>
                  <li>Reduce stress</li>
                </ul>
              </div>
              <div class="food-recommendations-wrapper">
                <h2 class="subheading">Food Recommendations:</h2>
                <ul>
                  <li>Eat more fruits and vegetables</li>
                  <li>Choose whole grains over processed grains</li>
                  <li>Limit saturated and trans fats</li>
                  <li>Avoid added sugars</li>
                </ul>
              </div>
              <div class="nearby-doctors-wrapper">
                <h2 class="subheading">Nearby Doctors:</h2>
                <ul id="doctor-list"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>