<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row row-cols-1 ">
        <div class="col-12" style="padding-bottom:12px ;">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-header" style="text-align: center;">
              <h1><strong>Prediction</strong></h1>
            </div>
            <div class="card-body" style="height: 35vh;">
              <!-- <h5 class="card-title">Card title</h5> -->
              <h2 class="card-text" style="text-align: center;">{{ output }}</h2>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding-bottom:12px ;">
          <div class="row row-cols-auto">
            <div class="col-6">
              <div class="card">
                <img  src="./assets/images/info.png" class="card-img-top" alt="...">
                <!-- <div class="card-header">
                  <h2><strong>Prediction</strong></h2>
                </div> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <!-- <h3 class="card-text">{{ output }}</h3>
                   -->
                   <p class="card-text">
                    This is a longer card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <img  src="./assets/images/heartdisease1.jpg" class="card-img-top" alt="...">
                <!-- <div class="card-header">
                  <h2><strong>Prediction</strong></h2>
                </div> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <!-- <h3 class="card-text">{{ output }}</h3> -->
                  <p class="card-text">
                    This is a longer card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row row-cols-1">
        <div class="col-12" style="padding-bottom:12px ;">
          <div class="card">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding-bottom:12px ;">
          <div class="card">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


